body{
    background-image: url(../image/background.jpg);
}


advertisement
.advertisement{
    margin-top: 140px;
    text-align: center;
}

.ui-panel-images {
    width: 100%;
    height: 100%;
}

.ui-galleria-panel {
    width: 100%;
    height: 100%;
}

.ui-growl{
    top: 100px;
}

